@font-face{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(../font/Ubuntu-Regular.ttf) format('truetype');
}

/* standard styling*/

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}


/* choiseScreen css*/
.returnButton{
    margin: 2rem;
}

.infoButton{
    margin: 2rem;
}

.topLayout{
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonLayout{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.clickButton{
    display: flex;
    align-items: center;
    background-color: #9ADE19;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 80px;
    padding: 10px;
    text-align: center;
    width: 50%;
}

.center {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-family: 'Ubuntu';
}

.clickIcon{
    margin-right: 10px;
}

.clickButton + .clickButton {
    margin-top: 1%;
}

.page {
    width: 100%;
    min-height: 100vh;
    color: #10284C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Home css */

.homePage{
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
    display: flex;
}

.itemFrame{
    background-color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25) );
    margin: 20px;
    text-align: center;
    border-radius: 10px;
}

.loanFace{
    color: #F09819;
}

.textItemFrame{
    text-align: left;
    margin: 10px;
}

.landingTableView{
    width: 65vw;
    height: 95vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    margin: auto;
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.landingTableView img{
    width: 95%;
    border-radius: 10px;
    margin: 5px;
}

.landingTableView::-webkit-scrollbar {
    width: 12px;
    border-radius: 10px;
}

.landingTableView::-webkit-scrollbar-thumb {
    background-color: #9ADE19;
    border-radius: 10px;
}

.landingTableView::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 10px;
}

.landingView{
    width: 35vw;
    height: 100%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

a{
    text-decoration: none;
    color: white;
}

.startButton{
    background-color: #9ADE19;
    border: none;
    border-radius: 20px;
    font-size: 50px;
    padding: 10px;
    text-align: center;
    width: 25%;
}

.landingLogo{
    width: 80%;
}

.landingLogoDiv{
    text-align: center;
    margin-bottom: 150px;
    margin-top: 50px;
}

@media screen and (max-width:1260px){
    .startButton{
        font-size: 30px;
    }
}

@media screen and (max-width:1440px){
    .clickButton{
        font-size: 60px;
    }
}

@media screen and (max-width:1130px){
    .clickButton{
        font-size: 40px;
    }
}

/* scanScreen css */

.scanLayout{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageWrapper{
    margin-top: 20px;
    text-align: center;
}

.scanImage, .arrowImage {
    width: 80%;
    display: block;
    margin: auto;
}

/* scanItemScreen css */

.cancelButton{
    background-color: #9ADE19;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-top: -25px;
}

.scanText{
    color:#03274F;
    font-size: 50px;
    max-width: 100%;
    text-align: center;
}

/* returnScreen css */

.returnInfoButton{
    margin-left: auto;
    flex-direction: right;
}

.returnItemButton{
    background-color: #9ADE19;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    width: auto;
    padding: 10px 50px 10px 50px;
    margin: 10px;
}

.scanReturnText{
    color:#03274F;
    font-size: 50px;
    max-width: 100%;
    text-align: center;
    margin: 20px;
}

@media screen and (max-width:1670px){
    .scanText, .scanReturnText{
        font-size: 45px;
    }
}

@media screen and (max-width:1525px){
    .scanText, .scanReturnText{
        font-size: 40px;
    }
}

@media screen and (max-width:1355px){
    .scanText, .scanReturnText{
        font-size: 35px;
    }
}

@media screen and (max-width:1190px){
    .scanText, .scanReturnText{
        font-size: 30px;
    }
}

@media screen and (max-width:765px){
    .scanText, .scanReturnText{
        font-size: 20px;
    }
}

/* lendMultipleScreen css */

.scanImageLend{
    width: 100%;
    display: block;
    margin: auto;
}

@media screen and (max-height:740px){
    .scanImageLend{
        width: 60%
    }
}

/* reservationScreen css */
.reservationTableViewContainer {
    position: relative;
    width: 65vw;
    height: 80vh;
    margin: auto;
    overflow: hidden;
    padding: 10px;
    border-radius: 10px;
}

.reservationTableView {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}

.reservationTableView::before {
    position: absolute;
    top: 10px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    clip-path: inset(10px 20px 10px 10px);
    z-index: -1;
}

.reservationTableView img {
    width: 95%;
    border-radius: 10px;
    margin: 5px;
}

.reservationTableView::-webkit-scrollbar {
    width: 12px;
    position: absolute;
    right: -12px;
    top: 0;
    bottom: 0;
    border-radius: 10px;
}

.reservationTableView::-webkit-scrollbar-thumb {
    background-color: #9ADE19;
    border-radius: 10px;
}

.reservationTableView::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 10px;
}