{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>ZUIL</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/styles/style.css' %}">
</head>
<body>
    <div class="page">
        <div class="topLayout">
            <div class="infoButton returnInfoButton"><a class="infoButton"><img src="{% static 'polls/images/info.svg' %}"></a></div>
        </div>
        <div class="scanLayout" style="max-width: 40%; min-height: 80vh;">
            <div class="imageWrapper">
                <img class="scanImage" src="{% static 'polls/images/cancellation.svg' %}">
            </div>
            <b class="scanText" style="margin-top: 75px; margin-bottom: 75px;">PLAATS DE ITEMS TERUG OP HUN PLAATS</b>
            <button class="returnItemButton"><a href="{% url 'home'%}">KLAAR</a></button>
        </div>
    </div>
</body>
</html>