{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>ZUIL</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/styles/style.css' %}">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
</head>
<body>
    <div class="homePage">
        <div class="landingTableView">
            <div class="itemFrame">
                <img src="{% static 'polls/images/dummyBook.svg' %}">
                <div class="textItemFrame">
                    <h3 class="loanFace">UITGELEEND</h3>
                    <br>
                    <h2>BOEK 1 ICT</h2>
                    <h4>AUTEUR</h4>
                    <br>
                    <p>DESCRIPTION: LOREM IPSUM IS AN EXAMPLE TEXT COMMONLY USED IN DESIGN</p>
                </div>
            </div>
            <div class="itemFrame">
                <img src="{% static 'polls/images/dummyBook.svg' %}">
                <div class="textItemFrame">
                    <h3 class="loanFace">UITGELEEND</h3>
                    <br>
                    <h2>BOEK 1 ICT</h2>
                    <h4>AUTEUR</h4>
                    <br>
                    <p>DESCRIPTION: LOREM IPSUM IS AN EXAMPLE TEXT COMMONLY USED IN DESIGN</p>
                </div>
            </div>
            <div class="itemFrame">
                <img src="{% static 'polls/images/dummyBook.svg' %}">
                <div class="textItemFrame">
                    <h3 class="loanFace">UITGELEEND</h3>
                    <br>
                    <h2>BOEK 1 ICT</h2>
                    <h4>AUTEUR</h4>
                    <br>
                    <p>DESCRIPTION: LOREM IPSUM IS AN EXAMPLE TEXT COMMONLY USED IN DESIGN</p>
                </div>
            </div>
            <div class="itemFrame">
                <img src="{% static 'polls/images/dummyBook.svg' %}">
                <div class="textItemFrame">
                    <h3 class="loanFace">UITGELEEND</h3>
                    <br>
                    <h2>BOEK 1 ICT</h2>
                    <h4>AUTEUR</h4>
                    <br>
                    <p>DESCRIPTION: LOREM IPSUM IS AN EXAMPLE TEXT COMMONLY USED IN DESIGN</p>
                </div>
            </div>
            <div class="itemFrame">
                <img src="{% static 'polls/images/dummyBook.svg' %}">
                <div class="textItemFrame">
                    <h3 class="loanFace">UITGELEEND</h3>
                    <br>
                    <h2>BOEK 1 ICT</h2>
                    <h4>AUTEUR</h4>
                    <br>
                    <p>DESCRIPTION: LOREM IPSUM IS AN EXAMPLE TEXT COMMONLY USED IN DESIGN</p>
                </div>
            </div>
            <div class="itemFrame">
                <img src="{% static 'polls/images/dummyBook.svg' %}">
                <div class="textItemFrame">
                    <h3 class="loanFace">UITGELEEND</h3>
                    <br>
                    <h2>BOEK 1 ICT</h2>
                    <h4>AUTEUR</h4>
                    <br>
                    <p>DESCRIPTION: LOREM IPSUM IS AN EXAMPLE TEXT COMMONLY USED IN DESIGN</p>
                </div>
            </div>
            <div class="itemFrame">
                <img src="{% static 'polls/images/dummyBook.svg' %}">
                <div class="textItemFrame">
                    <h3 class="loanFace">UITGELEEND</h3>
                    <br>
                    <h2>BOEK 1 ICT</h2>
                    <h4>AUTEUR</h4>
                    <br>
                    <p>DESCRIPTION: LOREM IPSUM IS AN EXAMPLE TEXT COMMONLY USED IN DESIGN</p>
                </div>
            </div>
            <div class="itemFrame">
                <img src="{% static 'polls/images/dummyBook.svg' %}">
                <div class="textItemFrame">
                    <h3 class="loanFace">UITGELEEND</h3>
                    <br>
                    <h2>BOEK 1 ICT</h2>
                    <h4>AUTEUR</h4>
                    <br>
                    <p>DESCRIPTION: LOREM IPSUM IS AN EXAMPLE TEXT COMMONLY USED IN DESIGN</p>
                </div>
            </div>
        </div>
        <div class="landingView">
            <div class="landingLogoDiv">
                <img class="landingLogo" src="{% static 'polls/images/Logo.svg' %}">
            </div>
            <div class="startButton">
                <a href="{% url 'choiseScreen'%}">
                    Start
                </a>
            </div>
        </div>
    </div>
</body>
</html>