{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>ZUIL</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/styles/style.css' %}">
</head>
<body>
    <div class="page">
        <div class="topLayout">
            <div class="returnButton"><button class="cancelButton"><a href="{% url 'home'%}">ANNULEREN</a></button></div>
            <div class="infoButton"><a class="infoButton"><img src="{% static 'polls/images/info.svg' %}"></a></div>
        </div>
        <div class="scanLayout" style="max-width: 40%; max-height: 80vh;">
            <p class="scanText">1 PRODUCT GERESERVEERD</p>
            <div class="imageWrapper">
                <img class="scanImageLend" src="{% static 'polls/images/scanItem.svg' %}">
            </div>
            <p class="scanText" style="margin-top: 10px;">SCAN NOG EEN PRODUCT ALS JE MEER WILT RESERVEREN</p>
            <button class="returnItemButton"><a href="{% url 'reservationScreen'%}">IK BEN KLAAR</a></button>
        </div>
    </div>
</body>
</html>