{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>ZUIL</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/styles/style.css' %}">
</head>
<body>
    <div class="page">
        <div class="topLayout">
            <div class="returnButton"><button class="cancelButton"><a href="{% url 'cancellationScreen'%}">ANNULEREN</a></button></div>
            <div class="infoButton"><a class="infoButton"><img src="{% static 'polls/images/info.svg' %}"></a></div>
        </div>
        <div class="scanLayout" style="max-width: 40%; min-height: 80vh;">
            <b class="scanText">DE KAST IS NU GEOPEND</b>
            <div class="imageWrapper">
                <a href="{% url 'lendMultipleScreen'%}">
                    <img class="scanImage" src="{% static 'polls/images/scanItem.svg' %}">
                </a>
            </div>
            <b class="scanText" style="margin-top: 10px;">SCAN HET ITEM DAT U WILT RESERVEREN</b>
        </div>
    </div>
</body>
</html>