{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>My Template</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/styles/style.css' %}">
</head>
<body>
    <div class="page">
        <div class="topLayout">
            <div class="returnButton"><button class="cancelButton"><a href="{% url 'home'%}">ANNULEREN</a></button></div>
            <div class="infoButton"><a class="infoButton"><img src="{% static 'polls/images/info.svg' %}"></a></div>
        </div>
        <div class="scanLayout" style="max-width: 30%;">
            <p class="scanText">SCAN HET ITEM DAT U WILT TERUGBRENGEN</p>
            <div class="imageWrapper">
                <a href="{% url 'returnScreen'%}">
                    <img class="scanImage" src="{% static 'polls/images/scanItem.svg' %}">
                </a>
            </div>
        </div>
    </div>
</body>
</html>